section-author--ilust
  div#author-wrapper
    ul.author-list
      li.author-list__box(
        each='{item, i in authorIllust}',
        style='animation-delay: {i*50}ms',
        onmouseenter='{onMouseEnter}',
        onmouseleave='{onMouseLeave}'
      )
        div.box-wrapper
          div.box__image
            img(src='./images/a{i+8}.png')
          div.box__caption.cf
            p
              | {item.name}
              br
              a(if='{item.pixiv}', href='http://www.pixiv.net/member.php?id={item.pixiv}', target='_blank')
                img.sns(src='./images/pixiv.svg')
              a(if='{item.twitter}', href='http://twitter.com/{item.twitter}', target='_blank')
                img.sns(src='./images/twitter.svg')

  script.
    const $ = App.Plugins.jQuery;
    self.authorIllust = App.Utils.authorIllust;

    onMouseEnter = (e) => {
      let $li = $(e.target);
      $li.find('.box--image').addClass('active');
      $li.find('.box--caption').animate({
        bottom: 0
      }, 300);
    }

    onMouseLeave = (e) => {
      let $li = $(e.target);
      $li.find('.box--image').removeClass('active');
      $li.find('.box--caption').animate({
        bottom: -50 + 'px'
      }, 300)
    }