section-author--comic
  div#author-wrapper
    ul.author-list
      li.author-list__box(
        each='{item, i in authorComic}',
        style='animation-delay: {i*50}ms'
      )
        div.box-wrapper(
          onmouseenter='{onEnter}',
          onmouseleave='{onLeave}',
        )
          div.box__image
            img(src='./images/a{i+1}.png')
          div.box__caption.cf
            p
              | {item.name}
              br
              a(if='{item.pixiv}', href='http://www.pixiv.net/member.php?id={item.pixiv}', target='_blank')
                img.sns(src='./images/pixiv.svg')
              a(if='{item.twitter}', href='http://twitter.com/{item.twitter}', target='_blank')
                img.sns(src='./images/twitter.svg')

  script.
    const $ = App.Plugins.jQuery;
    self.authorComic = App.Utils.authorComic;

    _addActiveClass = (e) => {
      let $li = $(e.target);
      $li.find('.box__caption').addClass('active');
      $li.find('.box__image img').addClass('active');
    }
    _removeActiveClass = (e) => {
      let $li = $(e.target);
      $li.find('.box__caption').removeClass('active');
      $li.find('.box__image img').removeClass('active');
    }

    onEnter = (e) => {
      _addActiveClass(e);
    }

    onLeave = (e) => {
      _removeActiveClass(e);
    }