info
  div#info-wrapper
    div.info__title
      h1 古明地こいしの知らない世界
    div.info__details
      div.detail-wrapper.cf
        div.detail.detail--left
          | 発行
        div.detail.detail--separator
          | {separator}
        div.detail.detail--right
          | 東方紅楼夢11（2015.11.01）
          br
          | G-02b「じゃんだらりん。」
      div.detail-wrapper.cf
        div.detail.detail--left
          | 仕様
        div.detail.detail--separator
          | {separator}
        div.detail.detail--right
          | B5縦判 66p
          br
          | 600円（予定）
      div.detail-wrapper.cf
        div.detail.detail--left
          | 委託
        div.detail.detail--separator
          | {separator}
        div.detail.detail--right
          | 申請中
      div.detail-wrapper.cf
        div.detail.detail--left
          | 企画・編集
          br
          | Web
        div.detail.detail--separator
          | {separator}
          br
          | {separator}
        div.detail.detail--right
          | 山瀬れの
          br
          | 汐瀬なぎ（
          a(href='http://polychrome.moe', target='_blank') Polychrome
          | ）
      div.detail-wrapper
        div.detail.detail--share
          a(href='https://twitter.com/share?url=http://zyandararin.github.io/koiirogodo/&amp;text=じゃんだらりん[G02b] - 東方紅楼夢11新刊 / こいいろ合同', target='_blank')
            i.fa.fa-twitter.fa-2x
        div.detail.detail--share
          a(href='https://github.com/zyandararin/', target='_blank')
            i.fa.fa-github.fa-2x


  script.
    const self = this;
    self.separator = '／';