top
  img#logo(src='./images/logo.png')

  script.
    const self = this;
    const $ = App.Plugins.jQuery;

    self.on('mount', () => {
      var $logo = $(self.logo);

      $logo.animate({
        opacity: 1
      }, 1000);
    });
