main
  div.section
    div.section__contents.section--top
  div.section
    div.section__contents.section--author.comic
  div.section
    div.section__contents.section--author.illust
  div.section
    div.section__contents.section--info

  script.
    const self     = this;
    const $        = App.Plugins.jQuery;
    const onLeave  = App.Utils.onLeave;

    self.on('mount', () => {
      var $root = $(self.root);

      $root.fullpage({
        navigation: true,
        autoScrolling: false,
        fitToSection: false,
        verticalCentered: false,
        onLeave: onLeave
      });
    });

